<footer>

    <div class="footer-info">

        <div class="social-icon">

            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>

        <div class="private-info">

            <p> &copy;Wanderlust Private Limited</p>

        </div>

        <div class="terms">

            <p>privacyTerms</p>

        </div>

    </div>

</footer>